body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    display: flex;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

/* animal-type-top spcies 탭 */
.tabs {
    margin-bottom: 1rem;
}
.tab-button {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 5px;
}
.tab-button.active {
    background: #4285f4;
    color: white;
    font-weight: bold;
}




/* sidebar */
nav ul {
    list-style: none;
    padding-left: 0;
}
.sidebar {
    width: 300px;
    min-height: 100vh;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: 0 12px 24px rgb(0 79 150 / 10%);
    font-family: 'Segoe UI', sans-serif;
}
.sidebar h1 {
    font-size: 45px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}
.sidebar p {
    font-size: 14px;
    color: #555;
    line-height: 1.7;
    padding-right: 20px;
    margin-bottom: 110px;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
}
.sidebar nav a {
    text-decoration: none;
    color: #535353;
    font-size: 15px;
    padding: 13px 8px;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #c5c5c5;
}
.sidebar nav a:hover {
    background-color: #e6f0ff;
    color: #004a99;
}