body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    display: flex;
    margin-left: 300px;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

/* animal-type-top spcies 탭 */
.tabs {
    margin-bottom: 1rem;
}
.tab-button {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 5px;
}
.tab-button.active {
    background: #4285f4;
    color: white;
    font-weight: bold;
}


/* sidebar */
ul {
    list-style: none;
    padding-left: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 300px;
    min-height: 100vh;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: 0 12px 24px rgb(0 79 150 / 10%);
    font-family: 'Segoe UI', sans-serif;
}
.sidebar h1 {
    font-size: 45px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}
.sidebar p {
    font-size: 14px;
    color: #555;
    line-height: 1.7;
    padding-right: 20px;
    margin-bottom: 110px;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
}
.sidebar nav a {
    text-decoration: none;
    color: #535353;
    font-size: 15px;
    padding: 13px 8px;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid #c5c5c5;
}
.sidebar nav a:hover {
    background-color: #e6f0ff;
    color: #004a99;
}

/* top-rfid-types */
.rfid-table-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 30px;
    flex-wrap: nowrap; /* 넘칠 경우: scroll 가능하게 하고 싶으면 overflow 추가 */
}

.rfid-table-block {
    flex: 1;
    min-width: 250px;
}

.rfid-table-block table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.rfid-table-block th,
.rfid-table-block td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.rfid-table-block th {
    background-color: #f0f0f0;
    font-weight: 600;
}
