<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.haeun.batch.mapper.RatingMapper">
    <insert id="insertBookRatings">
        INSERT INTO book_rating (user_id, book_id, rating, created_at)
        VALUES
        <foreach collection="bookRatings" item="r" separator=",">
            (#{r.userId}, #{r.bookId}, #{r.rating}, now())
        </foreach>
    </insert>
</mapper>