<h1>Pet Stats</h1>
<p>경기도데이터드림에서 제공하는<br>반려동물 등록 데이터 시각화</p>

<nav>
    <ul>
        <li><a href="/">소개</a></li>
        <li><a href="/top-animal-types">우리 지역 견종과 묘종은?</a></li>
        <li><a href="/rfid">RFID 비율</a></li>
        <li><a href="/etc">기타</a></li>
    </ul>
</nav>