<aside class="sidebar">
    <h1>Pet Stats</h1>
    <p>경기도데이터드림에서 제공하는 동물등록현황을 기준으로 보여주는 데이터입니다.</p>
    <nav>
        <a href="/intro">소개</a>
        <a href="/animal-types/top">우리 지역 견종과 묘종은?</a>
        <a href="/rfid-types/top">RFID 비율</a>
        <a href="/etc">연도별 반려동물 등록 추이</a>
    </nav>
</aside>